application:
  name: ^project.artifactId^
  description: ^project.name^
  version: ^project.version^
server:
  port: 8080
spring:
  application:
    name: ^project.artifactId^
---
spring:
  profiles: dev
logging:
  level:
    com.github.richygreat.microbankbff: DEBUG